*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: Arial, Helvetica, sans-serif;
}
header{
    background-color: #0084FD;
}
.container{
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 2rem;
}
.flex-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo{
    padding: 5px;
}
.lista{
    list-style: none;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.menù{
    text-decoration: none;
    color: white;
    padding: 5px;
}
.button{
    color: black;
    background-color: white;
    border-radius: 10px;
    padding: 5px 0;
}
.button-2{
    background-color: #0084FD;
    border-radius: 10px;
    padding: 5px 0;
}
.sotto-container{
    background-color: #b5ddff;
}
.phone{
    height:200px;
}
.option{
    font-size: 3.5rem;
    color: #0084FD;
}
.first{
    padding: 10px 0;
}
.cards{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 0 -0.75rem;
    padding: 2px ;
}
.blocco-unico{
    display: flex;
}

.first .cards .card{
    width: calc(100%/3)-1.5rem;
    margin-left: 0.75rem;
    margin-right: 0.75rem;
}
.first .cards .card:first-child{
    width: calc((100%/3)*2)-1.5rem;
}
.second,.fourth{
    background-color: #9792e4;
    padding: 15px;
}
.second .row{
    max-width: 768px;
    margin: 0 auto;
    display: flex;
    align-items: flex-end;
}
.second .row .col{
    width: 50%;
}
#planning-1{
    height: 300px;
}
#planning-2{
    height: 200px;
}
.col-right{
    background-color: white;
}
.third{
    text-align: center;
    padding: 10px;
}
.super-card{
    background-color: #9792e4;
    display: flex;
    align-items: center;
    border-radius: 10px;
    padding: 10px;
    margin: 5px;
}
.testimonial{
    height: 100px;
    border-radius: 50%;
}
.target{
    background-color: white;
    width: calc(100%/3);
    
}
.flex-fourth{
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    flex-wrap: wrap;
}
.more{
    border-radius: 10px;
    color: white;
    background-color: #9792e4;
    text-decoration: none;
    padding: 5px;
}
